NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
PRICECHARTING_API_KEY=
EBAY_CLIENT_ID=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_WHATSAPP_URL=https://chat.whatsapp.com/LgAy8Q0NgVp9NcU7oJXBDy
NEXT_PUBLIC_INSTAGRAM_URL=https://instagram.com/thevaultroom.cpt
YOCO_SECRET_KEY=
YOCO_WEBHOOK_SECRET=
